.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: rgb(46, 0, 95);
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
img{
    height: 300px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

button{
    padding: 14px 20px;
    margin: 8px 0;
    background-color: #8c42e7d8;
    border: solid 1px; 
    border-color: rgb(46, 0, 95);
    border-radius: 4px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}